@import url(normalize.css);
@import url(http://fonts.googleapis.com/css?family=Acme|Sintony:400,700);

body {
  background-color: #dfdfdf;
  color: #868686;
  font-family: 'Sintony', Helvetica, Arial, sans-serif;
  font-size: 14px; /* CHANGE TO RESPONSIVE */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Acme', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.main-content {
  width: 1000px;
  margin: 0 auto;
}

.main-menu [class^="bg-"], .main-menu [class*=" bg-"], /* space to prevent collision */
.btn { 
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.bg-orange { background-color: #f26c4e; }
.main-menu .bg-orange:hover,
.btn.bg-orange:hover { background-color: #fd8a70; }
.bg-purple { background-color: #cf6baa; }
.main-menu .bg-purple:hover { background-color: #e993c9; }
.bg-yellow { background-color: #f2c24d; }
.main-menu .bg-yellow:hover { background-color: #ffd777; }
.bg-green { background-color: #a3d178; }
.main-menu .bg-green:hover { background-color: #c4eaa0; }
.bg-dark-green { background-color: #8ebe5f; }
.bg-blue { background-color: #78ccd0; }
.main-menu .bg-blue:hover { background-color: #9de4e7; }

.btn {
  border: none;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
}

/*---------- HEADER ----------*/

header {
  text-align: center;
  width: 100%;
}

.main-title {
  font-size: 48px;
  line-height: 40px;
}

.main-title span {
  font-size: 24px;
  letter-spacing: 4px;
}

/*---------- MAIN NAV ----------*/

.main-menu {
  background-color: #cdcdcd;
  /*width: 100%;*/
}

.main-menu ul {
  list-style: none;
  width: 1000px;
  height: 70px;
  margin: 0 auto;
  text-align: left;
  padding-left: 0;
  position: relative;
  left: -4px;
}

.main-menu li {
  float: left;
  width: 140px;
  height: inherit;
  border-left: 4px solid #dfdfdf;
  position: relative;
}

.main-menu li a {
  box-sizing: border-box;
  padding-top: 24px;
  position: absolute;
  width: inherit;
  height: inherit;
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.main-menu li a:before {
  content: ' ';
  background-color: #f26c4e;
  position: absolute;
  left: -10px;
  top: 27px;
  border: 3px solid #dfdfdf;
  border-radius: 10px;
  width: 10px;
  height: 10px;
}

.main-menu li:last-child a:after {
  content: ' ';
  background-color: #f26c4e;
  position: absolute;
  right: -10px;
  top: 27px;
  border: 3px solid #dfdfdf;
  border-radius: 10px;
  width: 10px;
  height: 10px;
}

.main-menu li:last-child {
  border-right: 4px solid #dfdfdf;
}




/*---------- SLIDER ----------*/
.slider-content {
  background-color: #fff;
  height: 320px;
  position: relative;
  margin-top: 4px;
}

.left-arrow, .right-arrow {
  position: absolute;
  width: 53px;
  height: 53px;
  top: 131px;
}

.left-arrow {
  background: url('../images/left_arrow.png') top left no-repeat;
  left: -10px;
}

.right-arrow {
  background: url('../images/right_arrow.png') top left no-repeat;
  right: -10px;
}

.slider-nav {
  list-style: none;
  padding-left: 0px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 10px;
  margin: 0;
}

.slider-nav li {
  background-color: #cdcdcd;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
}

.slider-nav li.active { background-color: #f26c4e; }

.slider-nav li a {
  position: absolute;
  width: inherit;
  height: inherit;
}

.slide-image {
  position: absolute;
  bottom: 0;
  right: 90px;
}

.slide-text {
  width: 310px;
  margin: 40px 0 0 90px;
  float: left;
}

.slide-text h2 {
  color: #f26c4e;
  font-family: 'Sintony', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
}

/*---------- FEATURE SERVICES ----------*/

.feature-services { display: table; }

.column-half {
  display: table-cell;
  box-sizing: border-box;
  width: 50%;
  padding: 40px;
  text-align: center;
}

.feature-services .column-half h2 {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

.feature-services .column-half p {
  color: #fff;
  text-align: left;
}

/*---------- FOOTER ----------*/

footer {
  background-color: #ededed;
  width: 100%;
}

footer:after {
  content: "";
  display: table;
  clear: both;
}

.column-one-third {
  float: left;
  width: 33.333%;
  box-sizing: border-box;
  padding: 20px;
}

.column-one-third:last-child { float: right; }

.blog-list {
  color: #8ebe5f;
  padding-left: 20px;
}

.blog-list a {
  color: #78ccd0;
  font-weight: 700;
  text-decoration: none;
}

.blog-list a:hover { text-decoration: underline; }

.social-links {
  list-style: none;
  padding-left: 0;
}

.social-links li {
  float: left;
  margin-right: 10px;
}

.column-registration { background-color: #f26c4e; }

.column-registration h2 { color: #fff; }

.column-registration input {
  border: none;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.column-registration .btn {
  width: 100%;
  background-color: #f2c24d;
  margin-bottom: 40px;
}
