@font-face {
  font-family: colossalis;
  src: url('Colossalis Bold.ttf');
}

body {
  border-top: 8px solid #ec8e08;
  color: #888888;
  font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #ec8e08;
  font-family: colossalis, Impact, sans-serif;
}

.clear {
  clear: both;
}

/*************************** Logo **********************/

.logo {
  float: left;
  max-width: 50%;
}

.logo h2 {
  display: inline-block;
  font-size: 3em;
  margin-top: 0;
  padding-right: 5px;
}

.logo h3 {
  display: inline-block;
  color: #a1a1a1;
  font: 1.75em 'Trebuchet MS', Tahoma, Arial, sans-serif;
  border-left: 2px solid #a1a1a1; 
  padding-left: 10px;
  position: relative;
  top: -0.2em;
}

/*************************** Social media **********************/

.social {
  float: right;
  text-align: right;
}

.social ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.social ul li {
  display: inline-block;
}

.social p {
  margin: 10px 0 2px 0;
  font-size: 0.85em;
}

.social a i {
  text-decoration: none;
  color: #a1a1a1;
  font-size: 2.5em;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
}

.social a:hover i.fa-facebook-square {
  color: #3b5998;
}

.social a:hover i.fa-twitter-square {
  color: #4099ff;
}

.social a:hover i.fa-google-plus-square {
  color: #d34836;
}

.social a:hover i.fa-youtube-square {
  color: #ff3333;
}

/*************************** Navigation **********************/

nav {
  clear: both;
  border: 1px solid #cccccc;
  width: 958px;
  height: 45px;
}

.main-nav {
  float: left;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav li {
  position: relative;
  float: left;
  width: 100px;
  height: 45px;
  border-right: 1px solid #cccccc;
}

.main-nav li a {
  color: #a1a1a1;
  font-size: 14px;
  padding-top: 14px;
  box-sizing: border-box;
  text-decoration: none;
  position: absolute;
  width: inherit;
  height: inherit;
  text-align: center;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.main-nav li a:hover {
  background-color: #eeeeee;
}

.search {
  color: #a1a1a1;
  float: right;
  margin: 10px 10px 0 0;
}

.search input {
  border: 1px solid #a1a1a1;
  background-color: #eeeeee;
  border-radius: 50px;
  padding-left: 8px;
}

.search a {
  color: #a1a1a1;
  text-decoration: none;
}

/*************************** Content slider **********************/

.slider {
  width: 960px;
  height: 260px;
  background: #eeeeee url('../img/slider-bg.jpg') no-repeat;
  margin-top: 20px;
  position: relative;
}

.slider-prev, .slider-next {
  color: #444444;
  font-size: 30px;
  text-decoration: none;
  opacity: 0.5;
  position: absolute;
  top: 115px;
  transition: opacity 0.5s;
}

.slider-prev:hover, .slider-next:hover {
  opacity: 1;
}

.slider-prev {
  left: 10px;
}

.slider-next {
  right: 10px;
}

.slide-image {
  position: absolute;
  top: 15px;
  left: 80px;
}

.slide-content {
  width: 50%;
  position: absolute;
  right: 80px;
}

.slider-title {
  font: 55px 'Trebuchet MS', Tahoma, Arial, sans-serif;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 5px;
}

.slider-title span {
  color: #a1a1a1;
  font-size: 30px;
  font-weight: regular;
}

.slider-button {
  background-color: #8bcf48;
  color: #ffffff;
  text-decoration: none;
  width: 280px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.5s;
}

.slider-button span {
  font-size: 14px;
}

.slider-button:hover {
  background-color: #9cdf59;
}

/*************************** 3 column **********************/

.column-one-third, .column-two-thirds {
  margin-right: 24px;
  padding: 0;
  float: left;
}

.column-one-third:last-child, .column-two-thirds:last-child {
  margin-right: 0;
}

.column-one-third {
  width: 304px;
}

.column-two-thirds {
  width: 632px;
}

.icons-ul {
  padding-left: 0;
}

/*************************** 4 column **********************/

.column-one-fourth {
  border: 1px solid #dddddd;
  border-left: none;
  padding: 10px;
  width: 218.75px;
  float: left;
}

.column-one-fourth:first-child {
  border-left: 1px solid #dddddd;
}


/*************************** meet the team **********************/

.meet-the-team {
  padding-top: 20px;
  margin-bottom: 2px;
}

.image-container {
  position: relative;
  height: 160px;
}

.image-caption {
  background-color: #000000;
  color: #ffffff;
  opacity: 0.5;
  width: 220px;
  position: absolute;
  bottom: 0;
  padding: 3px 10px;
  box-sizing: border-box;
}

/*************************** meet the team **********************/

footer {
  background-color: #555555;
  border-top: 8px solid #ec8e08;
  margin-top: 20px;
  width: 100%;
}

footer:after {
  content: "";
  display: table;
  clear: both;
}

.footer-row {
  width: 960px;
  margin: 0 auto;
}

footer h3 {
  color: #ffffff;
  font: 1.4em 'Trebuchet MS', Tahoma, Arial, sans-serif;
}

.thumbnails {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.thumbnails li {
  float: left;
  margin-right: 8px;
}

.copyright {
  text-align: center;
  width: 960px;
  border-top: 1px solid #888888;
  margin: 0 auto;
  font-size: 12px;
  padding: 10px;
}
